# see https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners for more information
# Order is important; the last matching pattern takes the most precedence.

* @Unity-Technologies/multiplayer-sdk
*.asmdef @NoelStephensUnity @EmandM @Unity-Technologies/netcode-qa
package.json @NoelStephensUnity @EmandM @Unity-Technologies/netcode-qa
AssemblyInfo.cs @NoelStephensUnity @EmandM @Unity-Technologies/netcode-qa
.editorconfig @NoelStephensUnity @EmandM @Unity-Technologies/netcode-qa
.gitignore @NoelStephensUnity @EmandM @Unity-Technologies/netcode-qa
.github/ @NoelStephensUnity @EmandM @Unity-Technologies/netcode-qa
.yamato/ @NoelStephensUnity @EmandM @Unity-Technologies/netcode-qa
com.unity.netcode.gameobjects/Documentation*/ @jabbacakes
