# see https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners for more information
# Order is important; the last matching pattern takes the most precedence.

* @Unity-Technologies/multiplayer-sdk
Profiling/ @Unity-Technologies/multiplayer-tools
Metrics/ @Unity-Technologies/multiplayer-tools
/com.unity.netcode.gameobjects/Runtime/Transports/ @Unity-Technologies/multiplayer-workflows
/com.unity.netcode.gameobjects/Tests/Editor/Transports/ @Unity-Technologies/multiplayer-workflows
/com.unity.netcode.gameobjects/Tests/Runtime/Transports/ @Unity-Technologies/multiplayer-workflows
*.asmdef @chrispope @miniwolf @NoelStephensUnity @fluong6
package.json @chrispope @miniwolf @NoelStephensUnity @fluong6
AssemblyInfo.cs @chrispope @miniwolf @NoelStephensUnity @fluong6
.editorconfig @chrispope @miniwolf @NoelStephensUnity @fluong6
.gitignore @chrispope @miniwolf @NoelStephensUnity @fluong6
.github/ @chrispope @miniwolf @NoelStephensUnity @fluong6
.yamato/ @chrispope @miniwolf @NoelStephensUnity @fluong6
