*.anim eol=lf
*.animset eol=lf
*.asmdef eol=lf
*.asmref eol=lf
*.asset eol=lf
*.blendtree eol=lf
*.brush eol=lf
*.buildreport eol=lf
*.cginc eol=lf
*.colors eol=lf
*.compute eol=lf
*.config eol=lf
*.controller eol=lf
*.cpp eol=lf
*.cs eol=lf
*.cubemap eol=lf
*.curves eol=lf
*.curvesNormalized eol=lf
*.flare eol=lf
*.fontsettings eol=lf
*.giparams eol=lf
*.gradients eol=lf
*.guiskin eol=lf
*.h eol=lf
*.hlsl eol=lf
*.ht eol=lf
*.java eol=lf
*.js eol=lf
*.json eol=lf
*.lighting eol=lf
*.m eol=lf
*.mask eol=lf
*.mat eol=lf
*.md eol=lf
*.mesh eol=lf
*.meta eol=lf
*.mixer eol=lf
*.mm eol=lf
*.overrideController eol=lf
*.particleCurves eol=lf
*.particleCurvesSigned eol=lf
*.particleDoubleCurves eol=lf
*.particleDoubleCurvesSigned eol=lf
*.physicMaterial eol=lf
*.physicsMaterial2D eol=lf
*.playable eol=lf
*.plist eol=lf
*.prefab eol=lf
*.preset eol=lf
*.py eol=lf
*.renderTexture eol=lf
*.scene eol=lf
*.scenetemplate eol=lf
*.shader eol=lf
*.shadergraph eol=lf
*.shadersubgraph eol=lf
*.shadervariants eol=lf
*.signal eol=lf
*.spriteatlas eol=lf
*.state eol=lf
*.statemachine eol=lf
*.svg eol=lf
*.terrainlayer eol=lf
*.texture2D eol=lf
*.transition eol=lf
*.txt eol=lf
*.unity eol=lf
*.uss eol=lf
*.uxml eol=lf
*.vfxoperator eol=lf
*.webCamTexture eol=lf
*.wlt eol=lf
*.xml eol=lf
*.yaml eol=lf
*.yml eol=lf