# IDE folders
.vs
.vscode
.idea
.DS_Store
.bin
.Editor
upm-ci~
utr
utr.bat
.download

testproject/Assets/AddressableAssetsData/link.xml
testproject/Assets/AddressableAssetsData/link.xml.meta
testproject/Assets/AddressableAssetsData/ProfileDataSourceSettings.asset
testproject/Assets/AddressableAssetsData/ProfileDataSourceSettings.asset.meta
testproject/Assets/AddressableAssetsData/link.xml.meta
testproject/Assets/AddressableAssetsData/ProfileDataSourceSettings.asset.meta
testproject/Assets/AddressableAssetsData/ProfileDataSourceSettings.asset.meta
testproject/Assets/AddressableAssetsData/link.xml.meta
