{
    "plugins": [
        ["@semantic-release/commit-analyzer", {
            "releaseRules": [
                {"type": "docs", "scope": "xml", "release": "patch"}
            ]
        }], 
        "@semantic-release/release-notes-generator", 
        ["@semantic-release/github", {
            "assets": [
                {"path": "*.unitypackage"}
            ],
            "successComment": "**This ${issue.pull_request ? 'pull request is included' : 'issue is resolved'} in version ${nextRelease.version}**\n\nThe release is available to download on [GitHub release](https://github.com/MidLevel/MLAPI/releases) or in the MLAPI Installer."
        }]
    ]
}