{
    "plugins": [
        ["@semantic-release/commit-analyzer", {
            "releaseRules": [
                {"type": "docs", "scope": "xml", "release": "patch"}
            ]
        }], 
        "@semantic-release/release-notes-generator", 
        ["@semantic-release/github", {
            "assets": [
                {"path": "*.unitypackage"}
            ]
        }]
    ]
}