# see https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners for more information
# Order is important; the last matching pattern takes the most precedence.

Profiling/ @Unity-Technologies/multiplayer-tools
/com.unity.multiplayer.mlapi/Runtime/Transports/ @wackoisgod
/com.unity.multiplayer.transport.utp/ @wackoisgod
/com.unity.multiplayer.mlapi/Runtime/SceneManagement/ @NoelStephensUnity
Documentation~/ @Briancoughlin @lkrell